<div class="col-12">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item active">Listagem</li>
      </ol>
    </nav>
    <div class="row mb-4">
      <div class="col-md">
        <h1 class="h3 border-left pl-2">
          Listagem de Servidores
        </h1>
      </div>
      <div class="col-md">
        <button type="button" routerLink="new" class="btn btn-success float-right">
          <i class="fas fa-user-plus"></i> Cadastrar Servidor
        </button>
      </div>
    </div>
    <form class="needs-validation" novalidate [formGroup]="servidorForm">
    <div class="col-12 mb-2">
        <button class="btn btn-info mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Pesquisar Servidor
        </button>
        <div class="collapse " id="collapseExample">
        <div style="box-shadow: 5px 5px 10px #000;" class="card">
        <div class="card-header">
            <div class="row col-12 ml-1">
            <label for="nDoTermo">Filtro para listagem de Servidor:</label>
            </div>	
        </div>
        <div class="card-body">	
        <div class="row col-12">
            <div class="form-group col-md-2">
                <label for="mat">Matrícula:</label>
                <input id="mat" type="text" class="form-control" formControlName="matricula" (input)="pesquisar()"/>
            </div>
            <div class="form-group col-md-5">
                <label for="nome">Nome:</label>
                <input id="nome" type="text" class="form-control" formControlName="nome" (input)="pesquisar()"/>
            </div>
            <div class="form-group col-md-3">
                <label for="cpf">CPF/CNPJ:</label>
                <input id="cpf" type="text" class="form-control" formControlName="cpf" (input)="pesquisar()"/>
            </div> 
        </div>
        </div>
        </div>
        </div>
    </div>
    </form>
     <div class="col-12">
      <table class="table table-hover" style="box-shadow: 5px 5px 10px #000;" *ngIf="servidores">
        <thead>
          <tr class="bg-success text-light">
            <th>Matrícula</th>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servidor of servidores">
            <td>
              <strong>{{servidor.matricula}}</strong>
            </td>
            <td>
                {{servidor.nome}}
            </td>
            <td>
                {{ formatarCpf(servidor.cpf)}}
            </td>
            <td>
                {{servidor.email}}
            </td>
            <td>
                {{servidor.telefone}}
           </td>
           <td>
             {{ servidor.statusServidor}}
           </td>
            <td>
              <button (click)="onEdit(servidor.matricula)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
              <button (click)="pegaDados(servidor.matricula ,servidor.nome)" data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="fas fa-user-alt-slash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="ModalExclusao"
      tabindex="-1"
      role="dialog"
      aria-labelledby="TituloModalCentralizado"
      aria-hidden="true"
    >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                  Vamos lá!
                </h5>
              </div>
              <div class="modal-body" style="font-weight: bold;">
                  Deseja intativar este o servidor: {{_descricao}} ?
              </div>
              <div  class="d-flex justify-content-center">
                <div class="col-md-12">
                  <div *ngIf ="mostrarMens"  style="text-align: center;"  class="col-10 alert alert-danger" role="alert">
                    <span> Servidor inativado com sucesso! </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  
                  data-dismiss="modal"
                >
                  <i class="fas fa-window-close"></i>&nbsp;Fechar
                </button>
                <button class="btn btn-success" (click)="onDelete()">
                  <i class="fas fa-save"></i> &nbsp;Inativar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--Fim da modal-->



