<div class="col-12">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item active">Listagem</li>
      </ol>
    </nav>
    <div class="row mb-4">
      <div class="col-md">
        <h1 class="h3 border-left pl-2">
          Listagem de Unidades
        </h1>
      </div>
      <div class="col-md">
        <button type="button" routerLink="new" class="btn btn-success float-right">
          <i class="fas fa-user-plus"></i> Cadastrar Unidade
        </button>
      </div>
    </div>
     <div class="col-12">
      <table class="table table-hover" style="box-shadow: 5px 5px 10px #000;">
        <thead>
          <tr class="bg-success text-light">
            <th>#</th>
            <th>Codigo</th>
            <th>Descrição</th>
            <th>Endereço</th>
            <th>Sigla</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unidade of unidades">
            <td>
              <strong>{{unidade.id}}</strong>
            </td>
            <td>
                {{unidade.codigo}}
            </td>
            <td>
                {{unidade.descricao}}
            </td>
            <td>
                {{unidade.endereco}}
            </td>
            <td>
                {{unidade.sigla}}
           </td>
           <td>
                {{unidade.telefone}}
           </td>
            <td>
              <!--a [routerLink]="[2, 'edit']" class="btn btn-outline-info btn-sm">Editar</a-->
              <button (click)="onEdit(unidade.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
              <button (click)="pegaDados(unidade.id ,unidade.descricao)" data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
        <!-- Modal -->
    <div
    class="modal fade"
    id="ModalExclusao"
    tabindex="-1"
    role="dialog"
    aria-labelledby="TituloModalCentralizado"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">
            Vamos lá!
          </h5>
          <!--button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Fechar"
          >
            <span aria-hidden="true">&times;</span>
          </button-->
        </div>
        <div class="modal-body" style="font-weight: bold;">
          Deseja excluir o registro de {{_descricao}} ?
        </div>
        <div class="col-md-12">
          <div *ngIf ="mostrarMens" style="text-align: center;"  class="col-10 alert alert-danger" role="alert">
            <span> Registro excluido com sucesso! </span>
           </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            <i class="fas fa-window-close"></i>&nbsp;Fechar
          </button>
          <button class="btn btn-success" (click)="onDelete()">
              <i class="fas fa-save"></i> &nbsp;Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim da modal-->
  </div>

