<div class="col-12">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item active">Listagem</li>
      </ol>
    </nav>
    <div class="row mb-4">
      <div class="col-md">
        <h1 class="h3 border-left pl-2">
          Listagem de Serviços
        </h1>
      </div>
      <div class="col-md">
        <button type="button" routerLink="new" class="btn btn-success float-right">
          <i class="fas fa-user-plus"></i> Cadastrar Serviço
        </button>
      </div>
    </div>
     <div id="tbsd" class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr class="bg-success text-light">
            <th>#</th>
            <th>Sigla</th>
            <th>Descrição</th>
            <th>Orgão</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td>
              <strong>{{servico.id}}</strong>
            </td>
            <td>{{servico.sigla}}</td>
            <td>{{servico.descricao}}</td>
            <td>{{servico.orgao.descricao}}</td>
            <td>
              <button (click)="onEdit(servico.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
              <button (click)="pegaDados(servico.id, servico.descricao)" data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form class="needs-validation" novalidate [formGroup]="paginaForm" style="margin-top: 15px;">
      <div class="row col-12 d-flex justify-content-center align-items-center" style="font-size: 10pt;">
          <button type="button" data-toggle="tooltip" data-placement="top" title="Menor" class="btn btn-info" (click)="paginaMenor()">
              <i class="fas fa-minus"></i> Anterior
            </button>
            <div class="form-group col-md-1" style="margin-top: 15px; text-align: center;"><span>Pág. {{ pagina + 1}}  de {{ totalPages  }}</span></div>
            <button type="button" data-toggle="tooltip" data-placement="top" title="Maior" class="btn btn-info" (click)="paginaMaior()">
              <i class="fas fa-plus"></i> Próximo
            </button>
            <div class="form-group col-md-1" style="margin-top: 15px; text-align: center;">
              <select class="form-control" id="pegaTamanho" name="quantPag" formControlName="quantPag" (change)="atualizaPagina()">
                  <option value=5>5</option>
                  <option value=10>10</option>
                  <option value=25>25</option>
                  <option value=50>50</option>
              </select>
            </div>
        <span class="float-right">Total de registro: {{ totalElements }}</span>
    </div>
  </form>
        <!-- Modal -->
    <div class="modal fade" id="ModalExclusao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">
            Vamos lá!
          </h5>
        </div>
        <div class="modal-body" style="font-weight: bold;">
          Deseja excluir o registro de {{_descricao}}?
        </div>
        <div class="col-md-12">
          <div *ngIf ="mostrarMens" style="text-align: center;"  class="col-10 alert alert-danger" role="alert">
            <span> Registro excluido com sucesso! </span>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fas fa-window-close"></i>&nbsp;Fechar
          </button>
          <button class="btn btn-success" (click)="onDelete()">
              <i class="fas fa-save"></i> &nbsp;Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim da modal-->
  </div>

